.div{
    background-color:black;
   width: 570px;
   border:15px inset black ;
}

#time{
    color: black;
    margin-top: 0%;
    font-size: 100px;
    border:15px groove orangered ;
    background: linear-gradient(red 30%,lime 60%,magenta 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 7px;
}
button{
    
    color: whitesmoke;
    font-size: 98.5px;
    margin:0 0 0 0;
    
    border-radius: 7px;
    border:15px ridge orangered ;
    text-transform: uppercase;
    text-shadow:red 30;
    font-weight: bold;
    background-image: repeating-conic-gradient(red 20deg,blue 40deg ,green 70deg,yellow 90deg,lime 110deg ,aqua 130deg ,rgb(255, 0, 212) 150deg,lightsalmon 180deg,darkorchid 200deg,fuchsia 220deg,orange 240deg,purple 260deg,orangered 280deg,indigo 300deg,magenta 320deg,olive 340deg,white 360deg,gold 380deg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
     
}